.parent-warning{
    margin-top: 30px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}
.warning-image{
    height: 35px;
    width: 30px;
}
.warning-text{
    font-size: 11px;
    color: #423E3E;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.under-developemnt-text{
    margin-top: 20px;
    margin-bottom: -30px;
    font-size: 25px;
    color: green;
    width: 200px;
    background-color: #f1f1f1;
    border-radius: 19px;
    text-align: center;
    padding: 15px 0px;
}


@media (max-width:600px){

    .under-developemnt-text{
        margin-top: 20px;
        margin-bottom: -45px;
        font-size: 16px;
        width: 105px;
        background-color: #f1f1f1;
        border-radius: 19px;
        text-align: start;
        padding: 5px 8px;
    }


    .warning-text{
        line-height:17px;
        letter-spacing: 0px;
    }

    .warning-image{
        height: 30px;
        width: 30px;
    }

    .under-developemnt-text{
    font-size: 13px;
    padding: 10px;
    width: 125px;
    text-align: center;
    }
}
