.form-calculator{
    background-color: #fff;
    border-radius: 16px;
    padding: 4% 5%;
    box-shadow:9px 9px 4.5px rgba(0, 0, 0, 0.16), 0px 0px 1.5px rgba(0, 0, 0, 0.16);

}

@media (max-width:600px) {

    .form-calculator{
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    box-shadow:none;

    }

    
}