.label-parent{
    
    background: #e6e6e6;
    background: linear-gradient(-122deg,
    #e6e6e6 0.00%, 
    #b4b4b4 100.00%);
    
    font-size: var(--font-size-label);
    font-weight: bold;

    border-radius: 9px;
    color: #606060;

    padding: 22px 30px 22px 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
    position: relative;
}



.label-parent .input-results{
    word-break: break-all;
    font-size: var(--font-size-label);
}

.label-parent .input-title{
    text-wrap: nowrap;
    display: flex;
    gap: 25px;
    font-size: var(--font-size-label);
}

.input-title .labe-icon svg{
    width: 40px;
    height: 40px;
    position: absolute;
    top:  50%;
    right: -2%;
    transform: translate(-50%,-50%);
   }

.input-title .labe-icon svg path{
    stroke: #fcc400;
}


.label-parent .input-results .label-unit{

    font-size: var(--font-size-label);
    margin: 0px 5px;

}


@media (max-width:480px){

    .label-parent{
        margin-top: 7%;
        padding: 10px 10px 10px 0px;
        display: flex;
        justify-content: flex-start;
        gap: 5px;

        flex-direction: column;
    }

    .label-parent .input-title{
        text-wrap: nowrap;
        display: flex;
        gap: 0px;
    }

    .label-parent .input-results .label-unit{

        font-size: 16px;    
    }

    .input-title .labe-icon svg{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 30%;
        right: 25%;
        transform: translate(-100%, -50%);
       }

}
